<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular-1.5.0/angular.js"></script>
</head>
<body>

<div ng-app="mainApp" ng-controller="studentController">
    {{response}}
</div>
<script>
    var mainApp = angular.module("mainApp", []);
    mainApp.run(function ($http) {
        $http.defaults.headers.common.Authorization = "Basic " + btoa("admin:district");
    });
    mainApp.controller('studentController', function ($scope, DHIS2Service) {
        DHIS2Service.getMe().then(
                function (data) {
                    $scope.response = data;
                },
                function (error) {
                    $scope.response = error;
                },
                function (update) {
                    $scope.response = update;
                }
        );
    });
    mainApp.factory('DHIS2Service', function ($http, $q) {
        return {
            getMe: function () {
                var defer = $q.defer();
                var req = {
                    method: 'GET',
                    url: 'https://play.dhis2.org/demo/api/me'
                };
                setTimeout(function () {
                    defer.notify("inprogress....");
                }, 0);
                $http(req).then(function (response) {
                    if (typeof response.data === 'object') {
                        defer.resolve(response.data);
                    } else {
                        // invalid response
                        defer.reject(response.data);
                    }
                }, function (error) {
                    // something went wrong
                    defer.reject(error);
                });
                return defer.promise;
            }
        };
    });
</script>
</body>
</html>