<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular-1.5.0/angular.js"></script>
</head>
<body>

<div ng-app="mainApp" ng-controller="studentController">
    {{response}}
</div>
<script>
    var mainApp = angular.module("mainApp", []);
    mainApp.run(function($http) {
        $http.defaults.headers.common.Authorization = "Basic " + btoa("admin:district");
    });
    mainApp.controller('studentController', function ($scope, $http) {
        var req = {
            method: 'GET',
            url: 'https://play.dhis2.org/demo/api/me'
        }
        $http(req).then(function(data){
            $scope.response = data;
        }, function(error){
            $scope.response = error;
        });
    });
</script>
</body>
</html>