<html>
<head>
  <title>Hello</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="getalluser.js"></script>

</head>
<body>

    ${res}

</body>
</html>