<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/pdfjs/build/pdf.worker.js"></script>
    <script src="../js/pdfjs/build/pdf.js"></script>
    <title>Title</title>
</head>
<body>
<div id="divOut"></div>
<script>
//    https://mozilla.github.io/pdf.js/examples/
    function outputlog(msg) {
        var divOut = document.getElementById("divOut");
        divOut.innerHTML = divOut.innerHTML + '<div>' + msg + '</div>';
    }

    this.pdfToText = function(data) {
        PDFJS.workerSrc = '../js/pdfjs/build/pdf.worker.js';
        PDFJS.cMapUrl = '../js/pdfjs/web/cmaps/';
        PDFJS.cMapPacked = true;

        return PDFJS.getDocument(data).then(function(pdf) {
            var pages = [];
            for (var i = 0; i < pdf.numPages; i++) {
                pages.push(i);
            }
            return Promise.all(pages.map(function(pageNumber) {
                return pdf.getPage(pageNumber + 1).then(function(page) {
                    return page.getTextContent().then(function(textContent) {
                        return textContent.items.map(function(item) {
                            return item.str;
                        }).join(' ');
                    });
                });
            })).then(function(pages) {
                return pages.join("\r\n");
            });
        });
    }
    self.pdfToText("test.pdf").then(function(result) {
        console.log("PDF done!", result);
        outputlog(result);
    })

</script>
</body>
</html>