<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.js"></script>
</head>
<body>
https://play.dhis2.org/demo/api/fileResources
<input id="file" type="file"/>
<script>
    $("document").ready(function () {
        $('#file').change(function (event) {
            console.log(event);
            uploadFile(jQuery('#file')[0].files[0]);
        });
    });

    function uploadFile(file) {
        var form_data = new FormData();
        form_data.append('id', '');
        form_data.append('name', file.name);
        form_data.append('external', false);
        form_data.append('upload', file);
        form_data.append('url', 'http://');
        form_data.append('apiCall', true);
        console.log(form_data);
        $.ajax({
                    type: 'POST',
                    url: "http://dhis2.com:8085/dhis/dhis-web-reporting/saveDocument.action",
                    headers: {
                        "Authorization": "Basic " + btoa("admin:district")
                    },
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        console.log(data);
                        console.log(JSON.parse(data.message));
                    },
                    error: function(error) {
                        console.log(error);
                    }
                })
    }
</script>
</body>
</html>