<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/xlsx.core.min.js"></script>
    <title></title>
</head>
<body>

<input type="file" id="fileUpload"/>
<script>
    function fixdata(data) {
        var o = "", l = 0, w = 10240;
        for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
    }

    function to_csv(workbook) {
        var result = [];
        workbook.SheetNames.forEach(function (sheetName) {
            var csv = XLSX.utils.sheet_to_csv(workbook.Sheets[sheetName]);
            if (csv.length > 0) {
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(csv);
            }
        });
        return result.join("\n");
    }

    function process_wb(wb) {
        var output = to_csv(wb);
        if (out.innerText === undefined) out.textContent = output;
        else out.innerText = output;
        if (typeof console !== 'undefined') console.log("output", new Date());
    }

    var str = "";
    function readSingleFile(evt) {
        var f = evt.target.files[0];
        {
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function (e) {
                var data = e.target.result;
                var wb;
                var arr = fixdata(data);
                wb = XLSX.read(btoa(arr), {type: 'base64'});
                process_wb(wb);
            };
            reader.readAsArrayBuffer(f);
        }
    }

    document.getElementById('fileUpload').addEventListener('change', readSingleFile, false);
</script>
<div id="tableToExport">

</div>
<pre id="out"></pre>
</body>
</html>